html
    head
        title!=title
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">

    body
        <div class="container">
            <img src="/images/pug_1.png">
            <div class="row"> 
                <div class="column">
                    <img src="/images/pug_2.jpg">
                    <img src="/images/pug_3.jpg">
                    <img src="/images/pug_4.jpg">
                    <img src="/images/pug_5.jpg">
                    <img src="/images/pug_6.jpg">
                    <img src="/images/pug_7.jpg">
                    <img src="/images/pug_8.jpg">
                </div>
                <div class="column">
                    <img src="/images/pug_8.jpg">
                    <img src="/images/pug_4.jpg">
                    <img src="/images/pug_7.jpg">
                    <img src="/images/pug_5.jpg">
                    <img src="/images/pug_6.jpg">
                    <img src="/images/pug_2.jpg">
                    <img src="/images/pug_3.jpg">
                </div>
            </div>
        </div>